.input-container {
  background-color: #1a1242;
  width: 100%;
  padding: 0.5em;
  border-radius: 40px;
}

.input_field {
  border: none;
  border-radius: 20px;
  padding: 0.8em 2em;
  margin: 0 1em 0 0.5em;
  background-color: #110b2a;
  color: aquamarine;
}

.input_field:focus {
  outline: none;
}

.input_btn {
  padding: 0.8em 1.5em;
  border-radius: 20px;
  border: none;
  background-color: #110b2a;
  color: aquamarine;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

::placeholder {
  color: aquamarine;
}
