.flex {
  display: flex;
  margin: 0 auto;
}

.space-evenly {
  justify-content: space-evenly;
}

.amount-container {
  padding: 1em;
  display: flex;
  width: 100%;
  margin-top: 1em;
  border-radius: 2px;
}

.debit {
  background-color: rosybrown;
  color: #fff;
}

.credit {
  background-color: aquamarine;
}

.amount-container h3 {
  flex: 1;
}

.cost {
  font-size: 18px;
  font-weight: 400;
}
