.header {
  text-align: center;
  margin: 0.8em;
  padding: 1em;
}

.headline {
  color: #fff;
}

.note {
  color: red;
}

.App {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  max-width: 600px;
  background-color: #150e35;
  padding: 1em;
  border-radius: 5px;
}
